body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f172a, #020617, #1e293b);
    color: white;
}

/* HEADER */
.header {
    text-align: center;
    padding: 40px 20px;
}

.header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #38bdf8;
}

.header h1 {
    margin: 15px 0 5px;
    color: #38bdf8;
}

.header p {
    color: #94a3b8;
}

/* BUTTONS */
.buttons {
    margin-top: 15px;
}

.buttons a {
    text-decoration: none;
    background: #38bdf8;
    color: black;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.buttons a:hover {
    background: #0ea5e9;
}

/* SECTIONS */
section {
    background: rgba(30, 41, 59, 0.7);
    backdrop-filter: blur(10px);
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(56, 189, 248, 0.2);
    transition: 0.3s;
}

section:hover {
    transform: translateY(-5px) scale(1.02);
}

h2 {
    color: #facc15;
}

/* LIST */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 8px 0;
}

/* TEXT */
p {
    line-height: 1.6;
}